.container#privacy_container
  .row
    %p We do not share any information you associate with Onward with any third party.
    %p Your sensitive information such as your password is stored and encrypted using best practices and as such is not able to be decrypted or viewed in plain text - even by us. 
    %p 
      If you choose to integrate Google Calendar, permission is only granted to read events from your calendar. No information will be available to Onward from other Google services you may have. 
      %br Onward will only access your calendar events when you are using this feature. No records are kept of your events besides the ones you select to save as entries.
    %p You will be notified of any updates to this privacy statement. 

