%p You can sync your Google Calendar events with the Activity App. 
%p The app will listen for any calendar events that match activities you’ve created here and adjust your balance accordingly.
%p Permission is only granted to read events from your calendar. No information will be disclosed from other Google services you may have.

= link_to "Authorize access to Google Calendar", redirect_path

