.container#authorize_container
  .row
    %br
    %p You can sync your Google Calendar with Onward. By doing so, you'll be able to select a date range to pull events to add as entries.

    = link_to "Authorize Access to Google Calendar", redirect_path

